body {
	background-image: linear-gradient(rgba(85,37,130,0.6),rgba(253,185,39,0.6))/*,url(backdrop.jpg)*/;
	height: 100%;
	background-size: cover;
	background-position: center;
}

h1 {
	color: white;
	text-align: center;
	font-family: Permanent Marker;
	font-size: 80px;
}

.image-div {
    max-width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
    color: white;
    border: 10px solid #EEEEEE;
}

#image {
    width: 100%;
    height: auto;
    position: relative;
    mix-blend-mode: screen;
}

.tribute-info {
	margin: auto;
	color: white;
	text-align: center;
	font-family: Mukta;
	background-color: rgba(27, 27, 30, 0.5);
	max-width: 70%;
	margin-bottom: 20px;
	padding: 20px;
}

ul {
	text-align: center;
	display: inline-block;
}

#quote {
	margin-top: 10px;
	font-family: Mukta;
	font-weight: 600;
	color: white;
	font-size: 1.5em;
}